@import "tailwindcss";

/* Hide scrollbars globally to provide a native mobile app look and feel */
html,
body,
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}
